playwright
pytest
pytest-xdist
pytest-rerunfailures
axe-playwright-python
Pillow

requests

allure-pytest

pydantic
pyyaml

sqlalchemy
psycopg2-binary

faker

jsonschema

python-dotenv

loguru

fastapi
uvicorn

ruff
black
isort
mypy